.table-container{
    display: flex;
    justify-content: center;
}

table {
    width: 95vw;
}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}

th {
    background-color: #EBEBEBFF;
}

td {
    /*text-align: center;*/
    cursor: pointer;
}

tr:nth-child(even) td {
    background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
}

/*Hide id column*/
td:first-child, th:first-child{
    display: none;
}
