.post-container{
    background-color: #EBEBEBFF;
}
.header{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.card-container{
    /*width: calc(100% - 20px);*/
    min-height: 100vh;
    /*background-color: blueviolet;*/
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    /*padding-left: 20px;*/
    /*align-content: start;*/
    padding: 10px;
}

.card{
    background-color: rgb(245,245,245);
    width: 25%;
    /*height: 50px;*/
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.card-title{
    font-weight: bold;
    font-size: larger;
    /*width: 30%;*/
    text-align: center;
    padding-inline: 10px;
    padding-bottom: 5px;
}

.card-body{
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .card{
        width: 100%;
    }
}